a:active
{
    text-decoration:none !important;
    color: #FFFFFF;
}

a:-webkit-any-link {
    color: black;
    text-decoration: none !important;
    cursor: auto;
}
.font123
{
    font-size:12px;
}